@using BlazorHiPrint.Client.Data
@using System.Diagnostics.CodeAnalysis
<div>
    <svg width="@(_data.Diameter+4)px" height="@(_data.Diameter+4)px">
        <circle cx="@((_data.Diameter+4)/2)px" cy="@((_data.Diameter+4)/2)px" r="@(_data.Diameter/2)px" 
                style="fill:none;stroke:black;stroke-width:1;opacity:1" />
    </svg>
    <div style="display: @Display;" @ondrag:stopPropagation="true" @ondragstart:stopPropagation="true">
        <div class="s resizebtn" draggable="true" @ondrag="TempWindDrag" @ondragstart="@TempWindDragStart" 
             style="cursor: s-resize; bottom: -12px; 
                    margin-left: -4px; left: 50%; position: absolute; width: 8px; height: 8px; background: rgb(255, 102, 0); border-radius: 50%;">
        </div>
        <div class="e resizebtn" draggable="true" @ondrag="TempWindDrag" @ondragstart="@TempWindDragStart" 
             style="cursor: e-resize; top: 50%; 
                    margin-top: -4px; right: -12px; position: absolute; width: 8px; height: 8px; background: rgb(255, 102, 0); border-radius: 50%;">
        </div>
        <div class="se resizebtn" draggable="true" @ondrag="TempWindDrag" @ondragstart="@TempWindDragStart" 
             style="cursor: se-resize; bottom: -12px; right: -12px; position: absolute; width: 8px; height: 8px; background: rgb(255, 102, 0); border-radius: 50%;">
        </div>
    </div>
</div>

@code {
    [NotNull]
    [Parameter]
    public object? Value { get; set; }
    
    [NotNull]
    MCircleTmplt? _data { get; set; }
    
    string Display { get { return _data.IsSelected ? "block" : "none"; } }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _data = Value as MCircleTmplt;
    }

    double dragStartTop { get; set; } = 20;
    double dratStartLeft { get; set; } = 20;

    private void TempWindDrag(DragEventArgs args)
    {
        _data.Radius += (args.ClientX - dratStartLeft) / 2;
        dragStartTop = args.ClientY;
        dratStartLeft = args.ClientX;
    }

    private void TempWindDragStart(DragEventArgs args)
    {
        dragStartTop = args.ClientY;
        dratStartLeft = args.ClientX;
    }
}
